.easycheck_errorInfo {
	padding: 2px 8px;
	margin-left: 10px;
	background-color:#FFE6BF;
	color:#BF6200;
	display: inline;
	font-weight: bold;
}
.easycheck_okInfo {
	padding: 2px 8px;
	margin-left: 10px;
	background-color: #7AC935;
	color: #fff;
	display: inline;
	font-weight: bold;
}
.easycheck_defaultInput,.txt{
	border: 1px solid #cfcfc9;
}
.easycheck_focusInput{
	border: 1px solid #0066FF;
}
.easycheck_errorInput {
	border: 1px solid #DD080A;
}